{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>แสกนเพื่อดูการแยกขยะ</title>
</head>
<body class="bg-gray-50 font-sans h-screen">
    {% include 'accounts/header_logged_in.html' %}
    <div class="pt-20 h-full flex flex-col items-center justify-start">
        <h1 class="text-4xl font-bold text-blue-600 text-center mb-6">แสกนเพื่อดูการแยกขยะ</h1>
        <div id="interactive" class="viewport mb-6" style="max-width: 640px; width: 100%; height: auto;"></div>
        <p id="barcode-result" class="text-xl text-gray-700 mb-6 hidden">บาร์โค้ดที่สแกน: <span id="barcode-value"></span></p>
        
        <button id="start-scan" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300">
            เริ่มสแกน
        </button>
    </div>

    <script>
        function startQuagga() {
            console.log("Initializing Quagga...");
            Quagga.init({
                inputStream: {
                    type: "LiveStream",
                    constraints: {
                        width: 640,
                        height: 480,
                        facingMode: "environment"
                    },
                    area: { 
                        top: "0%",
                        right: "0%",
                        bottom: "50%",
                        left: "0%"
                    },
                    singleChannel: false
                },
                decoder: {
                    readers: ["code_128_reader", "ean_reader", "upc_reader"]
                },
                locate: true
            }, function(err) {
                if (err) {
                    console.error("Quagga initialization error:", err);
                    alert("เกิดข้อผิดพลาดในการเริ่มต้นการสแกนบาร์โค้ด กรุณาลองใหม่อีกครั้ง");
                    return;
                }
                console.log("Quagga initialized successfully.");
                Quagga.start();
            });
            Quagga.onDetected(function(data) {
                const barcode = data.codeResult.code;
                window.location.href = '/scanner/scan/?barcode=' + barcode;
                Quagga.stop();
            });
            
            
        }
        
        document.getElementById("start-scan").addEventListener("click", function() {
            startQuagga();
        });
        
    </script>
</body>
</html>
