{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <title>Keep the world clean and share</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: "Lora", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
</head>

<body class="flex flex-col min-h-screen overflow-x-hidden">
    {% include 'Seniorproject/header.html' %}  <!-- แก้ไขเส้นทางให้ตรงกับที่จัดโครงสร้าง -->
    <main class="flex flex-col grow bg-white">
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
